@import "ens-components/styles.css";
@import "tailwindcss";

@custom-variant dark (&:where(:root[style*="color-scheme:dark"] *, :root[style*="color-scheme: dark"] *));

html {
  scroll-behavior: smooth;
}

[data-layout="blank"] [data-v-content] {
  max-width: none;
  padding: 0;
}
